{% extends 'layout.html' %}

{% block content %}

<div id="main">
    <p class="logo">
        <span class="deu">DEULOL.</span>GG
    </p>
    
    <form onsubmit="searchUser(event)">
        <div class="userNameWrap">
            <input type="text" id="searchUserName" name="searchUserName" class="userNameInput" placeholder="소환사명 + #KR1" 
            onkeyup="getUserList()"
            onfocus="getUserList()" autocomplete="off"/>
            <img src="/img/icon_search_color.svg" onclick="searchUser(event)"/>
        </div>
        <div id="userListWrap" class="hide">
            <span class="title">소환사</span>
            <div id="userList">
            </div>
        </div>
    </form>
</div>

{% endblock %}
