@font-face {
    font-family: 'BagelFatOne-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/BagelFatOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#toast {
    display: none;
    position: fixed;
    top: -100px;
    /* Start position out of view */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 12px 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    transition: top 0.5s ease-in-out;
    text-align: center;
}

#userListWrap {
    width: 100%;
    border: 1px solid rgb(107, 120, 181);
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 6px;
    box-shadow: rgba(0, 76, 255, 0.3) 0px 0px 6px;
    margin-top: 5px;
    max-height: 300px;
    overflow: auto;
    background: #fff;
}

#headerFixBox #userListWrap {
    position: absolute;
    max-width: 460px;
    right: 0;
}

#userListWrap .title {
    display: flex;
    align-items: center;
    padding: 5px 9px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(195, 209, 220);
    color: rgb(102, 116, 143);
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
}

#userList {
    margin-bottom: 10px;
    padding: 0 15px;
}

#userList .empty {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -1px;
    margin-left: 10px;
    color: rgb(53, 64, 82);
}

#main {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

#main .userNameWrap {
    display: flex;
    position: relative;
}

#main .logo {
    font-family: 'BagelFatOne-Regular';
    font-size: 58px;
    font-weight: bold;
}

#main .logo .deu {
    color: #4444d9;
}


#main .userNameInput {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border: 1px solid rgb(107, 120, 181);
    border-radius: 26px;
    padding: 9px 40px 9px 20px;
    box-shadow: rgba(0, 76, 255, 0.3) 0px 0px 6px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin-top: 30px;
}

#main .userNameWrap img {
    cursor: pointer;
    bottom: 12px;
    position: absolute;
    right: 13px;
}

#headerFixBox {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    /* background: #161616; */
    border-bottom: 1px solid #cecece;
    background: #ebebff;

}

#headerFixBox .logo {
    font-family: 'BagelFatOne-Regular';
    font-size: 38px;
    font-weight: bold;
}

#headerFixBox .logo .deu {
    color: #4444d9;
}

#headerFixBox .userNameWrap {
    display: flex;
    position: relative;
}

#headerFixBox .userNameWrap img {
    cursor: pointer;
    bottom: 12px;
    position: absolute;
    right: 13px;
}

#headerFixBox .userNameInput {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border: 1px solid rgb(107, 120, 181);
    border-radius: 26px;
    padding: 9px 40px 9px 20px;
    box-shadow: rgba(0, 76, 255, 0.3) 0px 0px 6px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin-left: 20px;
}

#userList .userWrap {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

#userList .userWrap:hover {
    background: #eaeaea;
    border-radius: 5px;
}

#userList .userIcon {
    width: 34px;
    border-radius: 5px;
}

#userList .userTier {
    width: 28px;
    margin-left: 10px;
}

#userList .userName {
    letter-spacing: -1px;
    margin-left: 10px;
}

#userList .userName .name {
    font-size: 13px;
}

#userList .userName .tag {
    font-size: 12px;
    padding-left: 1px;
    color: #464646;
}

#summoner {
    width: 1000px;
    margin: 140px auto;
}

#summoner .userInfo {
    display: flex;
    position: relative;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(195, 209, 220);
    padding: 20px 0px 20px 20px;
}

#summoner .profileWrap {
    width: 100px;
    height: 100px;
    position: relative;
}

#summoner .profileWrap img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

#summoner .profileWrap span {
    bottom: 0px;
    z-index: 1;
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 26px;
    padding: 0px 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    background: linear-gradient(rgb(47, 77, 60) 0%, rgb(35, 48, 72) 100%) transparent;
    color: rgb(255, 255, 255);
}

#summoner .profileDefaultWrap {
    margin-left: 20px;
}

#summoner .profileDefaultWrap .name {
    font-size: 22px;
    font-weight: bold;
    color: rgb(53, 64, 82);
}

#summoner .profileDefaultWrap .tag {
    font-size: 20px;
    line-height: 22px;
    color: rgb(102, 116, 143);
    font-weight: 400;
    margin-left: 5px;
}

#summoner .refreshWrap {
    margin-top: 44px;
}

#summoner .refreshBtn {
    background-color: rgb(105, 111, 234);
    color: rgb(255, 255, 255);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    width: 120px;
    height: 32px;
    font-size: 12px;
}

#summoner .refreshBtn img {
    width: 13px;
    margin-right: 5px;
    margin-top: 3px;
}

#summoner .lastUpdate {
    font-size: 11px;
    font-weight: 400;
    color: rgb(175, 178, 191);
    margin-left: 5px;
    letter-spacing: -1px;
}

#summoner .tierWrap {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#summoner .tierWrap .solo,
#summoner .tierWrap .flex {
    display: flex;
    width: 38%;
    justify-content: center;
    background: #fdfdfd;
    border-radius: 5px;
    padding: 20px 0;
    display: flex;
    position: relative;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(195, 209, 220);
}

#summoner .tierImg img {
    width: 110px;
}

#summoner .rankWrap {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#summoner .rankType {
    font-size: 18px;
    letter-spacing: -1px;
    font-weight: bold;
}

#summoner .tierName {
    letter-spacing: -1px;
    font-size: 16px;
    color: orange;
}

#summoner .lp {
    letter-spacing: -1px;
    font-size: 15px;
}

#summoner .rankCnt {
    font-size: 13px;
    letter-spacing: -1px;
    color: rgb(102, 116, 143);
}

#summoner .unranked {
    color: rgb(175, 178, 191);
    display: flex;
    align-items: center;
    justify-content: center;
}

#summoner .empty {
    margin-top: 10px;
    color: rgb(175, 178, 191);
    text-align: center;
}

#gameList {
    margin-top: 20px;
}

#gameList .loaderBox {
    text-align: center;
}

#gameList .loader {
    width: 60px;
}

#gameList .line {
    position: absolute;
    width: 6px;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 3;
    background: rgb(76, 146, 252);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#gameList .line.lose {
    background: rgb(235, 83, 83);
}

#gameList .gameInfo {
    margin-left: 25px;
    width: 90px;
}

#gameList .gameType {
    font-size: 16px;
    font-weight: 500 !important;
    color: rgb(76, 146, 252);
}

#gameList .gamePlayTime {
    font-size: 12px;
    margin-top: 5px;
    line-height: 14px;
    color: rgb(102, 116, 143);
    margin-bottom: 8px;
}

#gameList .gameResult {
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    color: rgb(76, 146, 252);
}

#gameList .playTime {
    color: rgb(102, 116, 143);
    font-weight: 400;
    font-size: 12px;
}

#gameList .game {
    border: 1px solid rgb(195, 209, 220);
    overflow: hidden;
    display: flex;
    border-radius: 5px;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 7px;
    position: relative;
    background-color: rgb(231, 240, 252);
}

#gameList .game.loseB {
    background-color: rgb(255, 240, 238);
}

#gameList .champDetailBox {
    display: flex;
}

#gameList .imgChampBox {
    position: relative;
}

#gameList .icoImage {
    width: 24px;
    position: absolute;
    right: -7px;
    top: -10px;
    cursor: pointer;
}

#gameList .imgChamp {
    width: 58px;
    border-radius: 5px;
}

#gameList .spellBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5px;
}

#gameList .imgSpell {
    width: 24px;
    border-radius: 4px;
}

#gameList .runeBox {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 5px;
}

#gameList .runeBox img {
    width: 24px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.8);
}

#gameList .kdaBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
}

#gameList .kdaBox .kda {
    font-size: 12px;
    margin-top: 8px;
    color: rgb(102, 116, 143);
}

#gameList .killdat {
    color: rgb(53, 64, 82);
    font-size: 15px;
}

#gameList .killdat .death {
    color: rgb(194, 74, 74);
}

#gameList .aiScoreBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#gameList .aiScoreBox .aiScoreTitle {
    color: rgb(102, 116, 143);
    font-size: 12px;
}

#gameList .aiScoreBox .aiScore {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 4px 8px;
    border-radius: 3px;
    background-color: rgb(84, 181, 158);
    font-size: 19px;
    text-align: center;
    min-width: 2ch;
    font-weight: 400;
    color: white;
    margin: 10px 0;
}

#gameList .aiScoreBox .aiScore.under {
    background: rgb(229, 116, 116);
}

#gameList .aiScoreBox .aiScoreRank {
    color: rgb(53, 64, 82);
    font-size: 12px;
}

#gameList .matchTeam {
    width: 125px;
}

#gameList .matchPlayerBox {
    display: flex;
    width: 250px;
    margin-top: 6px;
    justify-content: space-between;
}

#gameList .matchPlayer {
    display: flex;
    align-items: center;
    color: rgb(102, 116, 143);
    font-size: 12px;
    letter-spacing: -1px;
    margin-bottom: 5px;

}

#gameList .matchPlayer img {
    width: 16px;
    height: 16px;
    margin-right: 3px;
}

#gameList .matchPlayer a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    color: rgb(102, 116, 143);
}

#gameList .detailBtnBox {
    height: 105px;
    width: 10px;
    position: relative;
}

#gameList .detailBtnBox img {
    position: absolute;
    bottom: 0px;
    cursor: pointer;
}

#gameList .itemBox {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

#gameList .itemBox .item {
    aspect-ratio: 1 / 1;
    width: 24px;
    border-radius: 4px;
    margin: 0 2px;
}

#gameList .itemBox .item img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

#gameList .itemBox .item.ward img {
    border-radius: 50%;
}

#gameList .itemBox .item.noItem {
    background-color: rgb(184 184 184);
    opacity: 0.3;
}

#gameList .lose {
    color: rgb(235, 83, 83);
}

#gameList .win {
    color: rgb(76, 146, 252);
}

#summoner .moreViewBtnBox {
    width: 823px;
    margin: 0 auto;
}

#summoner .moreViewBtn {
    width: 100%;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 16px 0;
    background-color: rgb(60 144 255);
    border: 1px solid #eee;
}

#summoner .moreViewBtn img {
    width: 12px;
}

#summoner .detail {
    display: none;
    border: 1px solid rgb(195, 209, 220);
    overflow: hidden;
    border-radius: 5px;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 7px;
    position: relative;
    background-color: rgb(231, 240, 252);
}

#summoner .detail.active {
    display: block;
}

#summoner table.lose {
    background-color: rgb(255, 240, 238);
}

#summoner table tr {
    border-top: 1px solid rgb(195, 209, 220);
}

#summoner table th {
    background-color: rgb(255, 255, 255);
    color: rgb(102, 116, 143);
    position: relative;
    font-size: 12px;
    padding: 10px 0;
    border-bottom: 1px solid rgb(195, 209, 220);
}

#summoner .tab1 {
    display: flex
    ;
        align-items: center;
    margin-left: 10px;
    
}

#summoner .tab1 .champ {
    width: 34px;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
}

#summoner .tab1 .name {
    color: rgb(53, 64, 82);
    font-size: 12px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 120px;
    margin-left: 8px;
    letter-spacing: -1px;
}

#summoner .tab1 .name .tag{
    font-size: 11px;
    color: #757575;
    letter-spacing: -1px;
}

#summoner .tab2{
    display: flex
    ;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-weight: 500;
        font-size: 12px;
        color: rgb(102, 116, 143);
}

#summoner .tab2 .score {
    display: flex
    ;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        padding: 4px 8px;
        border-radius: 3px;
        background-color: rgb(84, 181, 158);
        font-size: 14px;
        text-align: center;
        min-width: 2ch;
        font-weight: 400;
        color: white;
        margin-bottom: 5px;
}

#summoner .tab2 .score.under {
    background: rgb(229, 116, 116);
}

#summoner .tab3 {
    min-width: 2ch;
    text-align: center;
    font-size: 12px;
    color: rgb(102, 116, 143);
    font-weight: 500;
    display: flex
;
    flex-direction: column;
}

#summoner .tab3 .kda2 {
    margin-top: 7px;
    font-size: 10px;
}

#summoner .tab4 {
    font-size: 12px;
    color: rgb(102, 116, 143);
    text-align: center;
}

#summoner .tab5 {
    font-size: 12px;
    color: rgb(102, 116, 143);
    text-align: center;
}

#summoner .tab6 {
    font-size: 12px;
    color: rgb(102, 116, 143);
    text-align: center;
}

#summoner .tab7 {
    display: flex;
    justify-content: center;
}

#summoner .tab7 img{
    width: 20px;
    height: 20px;
    margin-left: 2px;
    border-radius: 4px;
}

#summoner .detail table {
    width: 100%;
}

#summoner .detail td {
    vertical-align: middle;
    padding: 4px 0;
}

/* popup */
.popupContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.30);
    
    /* animation */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease, transform 0.6s ease;
    z-index: 1000;
}


.popupContainer.show {
    opacity: 1;
    visibility: visible;
}

.popupContainer .popupBox{
    max-width: 800px;
    width: 100%;
    height: 320px;
    padding: 24px;
    border-radius: 10px;
    border: 1px solid var(----Stroke, #E6E7E7);
    background: var(----FF, #FFF);
    max-height: 90vh;
    overflow: auto;
}

.popupContainer .close{
    display: inline-block;
    float: right;
    cursor: pointer;
    margin-bottom: 20px;
}

#youtubeList {
    display: flex;
        align-items: center;
        margin-top: 35px;
        overflow-x: auto;
        gap: 15px;

        overflow-y: hidden;
}

#youtubeList .thumbnailsBox {
    position: relative;
}

#youtubeList .youtubeIcon {
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#youtubeList .youtubeTitle {
    font-size: 14px;
    margin-top: 6px;
    letter-spacing: -1px;
    max-width: 320px;
    text-overflow: ellipsis;
    word-break: break-all;    
}

#youtubeList .description {
    color: #b6b6b6;
    max-width: 320px;
    font-size: 11px;
    min-height: 22px;
    margin-top: 5px;
    text-overflow: ellipsis;
    word-break: break-all;
}